Package: com.eamontracey.ifunnier
Name: iFunnier
Version: 1.2
Architecture: iphoneos-arm
Description: Block ads, save any content (no watermark), and more on iFunny!
Maintainer: Eamon Tracey
Author: Eamon Tracey
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
